# Compiled Python files.
*.pyc
*.pyo

# Compiled Javascript files.
client/source/electron/main.bundle.js
client/static/client/js/bundle.js
client/static/client/js/electron.bundle.js

# Local database.
db.sqlite3

# Local media files.
media/

# Development packages.
client/source/node_modules/
virtualenv/

# Deployment settings.
zappa_settings.json

# IDE settings.
.vscode/

